[submodule "modding/jsoncpp"]
	path = modding/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "modding/genieutils"]
	path = modding/genieutils
	url = https://github.com/fritz-net/genieutils
	ignore = dirty
